.heading{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: black;
    font-style: italic;
    font-weight: bold;
    font-stretch: condensed;
}



.form {
    margin-right: auto;
    margin-left: auto;
}

.r1{
font-size: large ;
border: 2px solid black;

}
    .but1{
        border: 2px solid black;
    }



.r2{
    font-size: large ;
    border: 2px solid black;
    }
    .but2{
        border: 2px solid black;
    }


.r3{
    font-size: large ;
    border: 2px solid black;
    }
    .but3{
        border: 2px solid black;
    }


.r4{
    font-size: large ;
    border: 2px solid black;
    }
    .but4{
        border: 2px solid black;
    }    



.button{
    padding: 1px;
    border: none;
    font-size: medium;
    background-color: #10453A;
    font-style: normal;
    color: white;
    text-align: center;
    float: right;
    width: auto;
    height: auto;
    font-style:italic;
}