h2{
    text-align: center;
    color: black;
    text-size-adjust
}

.report-form {
item-align: left;
padding : 2rem;
padding : auto;
}

#lifting{
    border: solid;
}





.newreport{
    text-align: right;
    color: #10453A;
    size: 30px;
}