@charset "UTF-8";
.form-label{
    margin-left: 1rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 54px;
    color: #000000;
}

button{
    color: white;
    background-color: #00C3A0;
    border:none;
    border-radius:10px;
    width: 10rem;
    height: 2rem;
    margin-left: 85%;
    margin-top: 10%;
}

.dropdown, .date{
    border: 5px solid #000000;
    border-radius: 5px;
    width: 80%;
    height: 3rem;
    margin-left: 1rem;
}

select {
    background-image: url("dropdown.png") no-repeat scroll 7px 7px;
    padding-left: 30px;
}