@charset "UTF-8";

body{
    background: url("../images/feedback.jpeg");
        background-repeat: none;
        background-size: cover;
        
}
.feedback-form{
    margin-top: 15%;
    margin-left: 60%;
    margin-right: 5%;
    background-color: #272727;
    padding: 1px;
    color: white;
    border-radius: 2%;
}
.header{
    text-align: center;
}

input{
    margin: 1rem 1rem 1rem 1rem;
    width: 80%;
    height: 10;
    padding: 10px;
}

textarea {
    margin: 1rem 1rem 1rem 1rem;
    width: 80%;
}

.btn-primary{
    background-color: #00C3A0;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
label{
    margin-left: 1rem;
}